/*color scheem sourced from http://khroma.co/genrator/ */
    
    body
    * {
        margin-right:0;
        padding: 0;
    }
    header
            h1 {
                font-size: xx-large;
                text-align: center;
                color: hotpink;
            }
    
        h2  {
            font-size: large;
            font-family: italic;
            text-align: center; 
            color:darkcyan; 
            }
    
        h3 {
            font-size: large;
            font-style: italic;
            text-align: center;
            color: hotpink;  
        }

        h4 {
            font-family: Arial;
            color: blue;
            font-size: 75px;            
            text-align: center;
            }   
                    
    main  {       
        font-family: Arial;
        color: blue;
        font-size: 55 px;
        text-align: center;
        margin: 50;
            }

            .wrapping {
            Margin: 0 auto;
            width: 800px;
        }


            
        
   
   