/*color scheem sourced from http://khroma.co/genrator/ */

img {
    border-radius: 50%;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

body
    header
        h1 { 
            font-size: xx-large;
            text-align: center;
            color: rgb(69, 15, 120);
        }

        h2  {
            font-size: large;
            text-align: center; 
            color:darkcyan; 
        }

        h3 {
            font-style: italic;
            text-align: center;
            color: hotpink;
        }

    header

    main 
        h1 {
            font-style:normal;
            font-size:large;
            text-align:center;
            color:blueviolet;
        }    
                
        h2 {
            font-style: Oblique;
            font-size: large;
            text-align: center;
            color:hotpink
        }
    main
body
